[submodule "MetatoneMIDI"]
	path = MetatoneMIDI
	url = https://github.com/cpmpercussion/MetatoneMIDI
[submodule "birdsnestinstrument/metaPdLibs"]
	path = birdsnestinstrument/metaPdLibs
	url = https://github.com/cpmpercussion/metaPdLibs
