[submodule "MetatoneMIDI"]
	path = MetatoneMIDI
	url = git@github.com:cpmpercussion/MetatoneMIDI.git
[submodule "birdsnestinstrument/metaPdLibs"]
	path = birdsnestinstrument/metaPdLibs
	url = git@github.com:cpmpercussion/metaPdLibs.git
